/* universal styles */

body {
	background-color: rgb(40, 40, 41);
	transition: all 500ms;
}

main {
	width: 50%;
	margin: auto;
	text-align: center;
}


/* title */

#title {
	padding: 20px;
	border: #d65200 dashed 10px;
	margin: 3em 0;
}

#title p {
	font-size: small;
	margin-top: 2px;
}

#title a {
	text-decoration: underline;
	transition: all 250ms;
}

#title a:hover {
	color: #ff974d;
}


/* roast options radio buttions */

.options label {
	font-size: 1.05em;
}

.options {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 1em 0;
}

.option {
	background-color: #d65200;
	border: 5px white solid;
	border-radius: 30px;
	padding: 10px;
	transition: all 500ms;
}

.option:hover {
	background-color: #ff974d;
}

.option input {
	display: none;
}

.option label {
	cursor: pointer;
}


/* custom roasts */

#or {
	margin: 2em 0;
}

#send-custom-roasts {
	margin-bottom: 1%;
}

textarea {
	font-size: 1.25em;
	height: 10em;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
}


/* name */

section#name1 {
	margin: 1em 0;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}


/* submit button */

input[type=submit] {
    padding: 10px 20px; 
    margin: 10px 0;
    background: #ff974d; 
    border:0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-size: 1em;
    color: white;
    transition: all 250ms;
}

input[type=submit]:hover {
	background-color: #888;
}


/* footer */

footer .website {
	position: relative;
	float: right;
	text-align: right;
	text-decoration: underline;
	margin-right: 20px;
	margin-bottom: 20px;
}


/* media queries */

@media only screen and (min-width: 1200px) {
	.options {
		grid-column-gap: 3em;
	}
}

@media only screen and (max-width: 1200px) {
	.options {
		grid-column-gap: 1em;
	}
}

@media only screen and (max-width: 900px) {
	.options {
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 1em;
	}
}

@media only screen and (max-width: 700px) {
	#title p {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 600px) {
	main {
		width: 80%;
	}
}
